
.products {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-bottom: 48px;
    padding: 25px 20px;
   
}

.products__item {
    position: relative;
    background: #F8F8F8;
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto)/1fr;

}

.products__image {
    display: block;
    position: relative;
    width: 100%;
    // padding: 0px 0px 120% 0px;
   
    
}

.products__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.buy-btn {
    margin-top: $spacing-medium;
    padding: $spacing-small $spacing-medium;
    border: 1px solid $color-unaccent;
    border-radius: $border-radius;
    cursor: pointer;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    background-color: $color-unaccent;
    &:hover {
        background-color: $color-hover;
        color: white;
    }
}

.btn-cart {
    margin-top: $spacing-medium;
    padding: $spacing-small $spacing-medium;
    border: 1px solid $color-unaccent;
    border-radius: $border-radius;
    cursor: pointer;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    background-color: $color-unaccent;
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
        background-color: $color-hover;
        color: white;
    }
}


.cart {
    font-weight: bold;
    display: inline-block;
    align-items: center;
    justify-content: center;
}