@import "vars";
@import "product";
@import "1023";



  body {
 
    font-size: 14px;
    font-family: "Lato";
   
    padding: 0px;
    margin: 0px;
    border: 0px;
    
  }  


//   .center {
//     padding-left: calc(50% - #{$widthSite / 2});
//     padding-right: calc(50% - #{$widthSite / 2});
//   }

.header {
    display: flex;
    height: 50px;
    padding: 10px;
    background-color: $color-medium;
   justify-content: flex-end;
}

