$colorLight: #f8f9fa;
$widthSite: 1140px;
$gapGrid: 30px;
$contentCol4: ($widthSite - 2 * $gapGrid) / 3;
$color-medium: #e8e8e8;

$spacing-medium: 15px;
$color-dark: #a1a1a1;
$spacing-lurge: 25px;
$spacing-small: 10px;
$color-unaccent: rgb(144, 212, 144);
$color-hover: rgb(35, 124, 35);
$border-radius: 3px;
$color-price: #F16D7F;
$linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);